---
// component imports
import MainLayout from "../layouts/MainLayout.astro";

// stype import
import "../styles/global.css";
---

<MainLayout title="About" description="The about page">
    <p>hi from about</p>
</MainLayout>
