---
import GoogleSheetSubmitForm from "../../components/react/GoogleSheetSubmitForm.tsx";
---

<html>
    <body>
        <h1>Testing using google sheet submit form!</h1>
        <GoogleSheetSubmitForm client:only="react" />
    </body>
</html>
